<div class="container-fluid ai-edit-container">
  <div class="row">
    <h2>商品編集</h2>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <% if @item.errors.any? %>
        <%= render partial: 'admin/errors/error', locals: {model: @item} %>
      <% end %>

      <%= render partial: 'items_form', locals:{item: @item, url: "/admin/items/#{@item.id}", text: '変更を保存'} %>
    </div>
  </div>
</div>