<div class="container">
  <div class="row">
    <h2>商品編集</h2>
    <div class="col-lg-10">

      <% if @added_item.errors.any? %>
        <%= render partial: 'admin/errors/error', locals: {model: @added_item} %>
      <% end %>

      <%= render partial: 'items_form', locals:{item: @item, url: "/admin/items/#{@item.id}", text: '変更を保存'} %>
    </div>
  </div>
</div>