<div class="container">
  <div class="row">
    <h2>商品新規登録</h2>
    <div class="col-lg-10 mx-auto">
      <%= render partial: 'items_form', locals:{item: @item, text: '新規登録'} %>
    </div>
  </div>
</div>