<div class="container-fluid ai-new-container">
  <div class="row">
    <h2>商品新規登録</h2>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <% if @item.errors.any? %>
        <%= render partial: 'admin/errors/error', locals: {model: @item} %>
      <% end %>

      <%= render partial: 'items_form', locals:{item: @item, url: '/admin/items', text: '新規登録'} %>
    </div>
  </div>
</div>