<div class="container-fluid ag-index-container">
  <div class="row">
    <h2>ジャンル一覧・追加</h2>
  </div>
  <div class="row">
    <div class="col-lg-10">

      <% if @generated_genre.errors.any? %>
        <%= render 'admin/errors/error', locals: {model: @generated_genre} %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 ag-index-form-col">
      <%= render partial: 'genres_form', locals:{genre: @genre, url: '/admin/genres', text: '新規登録'} %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>ジャンル</th>
            <th></th>
          </tr>
          <% Genre.all.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to '編集する', edit_admin_genre_path(genre.id), class:"btn btn-success" %></td>
            </tr>
          <% end %>
        </thead>
      </table>
    </div>
  </div>
</div>