<div class="container">
  <div class="row">
    <label>ジャンル一覧・追加</label>
    <div class="col-lg-5">
      <%= render partial: 'genres_form', locals:{genre: @genre, text: '新規登録'} %>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ジャンル</th>
          </tr>
          <tr>
            <% Genre.all.each do |genre| %>
              <td><%= genre.name %></td>
              <td><%= link_to '編集する', edit_admin_genre_path(genre.id) %></td>
            <% end %>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>