<div class="container-fluid">
  <div class="row">
    <h2>配送先編集</h2>
    <div class="col-lg-10 mx-auto">

      <% if @edited_address.errors.any? %>
        <%= render partial: 'admin/errors/error', locals: {model: @edited_address} %>
      <% end %>

      <%= render partial: 'public/addresses/form', locals: {model: @address, url: address_path(@address.id), submit: '変更内容を保存'} %>

    </div>
  </div>
</div>