// Place all the styles related to the admin/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ai-index-add-button{
  margin-right: 10%;
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: #aaaaaa;
  border-radius: 50%;
  -moz-border-radius: 50%;//safari、chrome用らしい
  -webkit-border-radius: 50%;//firefox用らしい
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
}

.ai-index-is-active-true, .ai-show-is-active-true{
  color: green;
}

.ai-index-is-active-false, .ai-show-is-active-false{
  color: gray;
}

.ai-index-title-row{
  margin-top: 2%;
}

.ai-form-is-active-label{
  display: inline !important;
}

.ai-new-container, .ai-show-container, .ai-edit-container{
  height: 70vh;
}

.ai-show-image-col{
  .image{
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}